
:root {
  // fonts
  --font-geist-sans: "Geist", Helvetica, Arial, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  // main
  --background: #ffffff;
  --foreground: #171717;
  --background-sidebar: #f8f8f8;
  --card: #ffffff;
  --card-foreground: #171717;
  // primary
  --primary: #1a1a1a;
  --primary-foreground: #ffffff;
  --primary-background: #1a1a1a;
  // secondary
  --secondary: #f0f0f0;
  --secondary-foreground: #1a1a1a;
  --secondary-background: #f0f0f0;
  // muted
  --muted: #f0f0f0;
  --muted-foreground: #737373;
  --muted-background: #f0f0f0;
  // destructive
  --destructive: #e53e3e;
  --destructive-foreground: #ffffff;
  --destructive-background: #e53e3e;
  // other
  --border: #ddd;
  --input: #ddd;
  --ring: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
}

.dark {
  // main
  --background: #040404;
  --foreground: #ededed;
  --background-sidebar: #1a1a1a;
  --card: #040404;
  --card-foreground: #ededed;
  // primary
  --primary: #ffffff;
  --primary-foreground: #1a1a1a;
  --primary-background: #ffffff;
  // secondary
  --secondary: #333;
  --secondary-foreground: #ffffff;
  --secondary-background: #333;
  // muted
  --muted: #333;
  --muted-foreground: #aaa;
  --muted-background: #333;
  // destructive
  --destructive: #9b2c2c;
  --destructive-foreground: #ffffff;
  --destructive-background: #9b2c2c;
  // other
  --border: #333;
  --input: #333;
  --ring: #cbd5e0;
  --popover: #040404;
  --popover-foreground: #ededed;
}

// CSS Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--foreground);
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  height: 100%;
  overflow: hidden;
}