@use "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-sidebar: #f0f0f0;
  --card: #ffffff;
  --card-foreground: #171717;
  --primary: #1a1a1a;
  --primary-foreground: #ffffff;
  --secondary: #f0f0f0;
  --secondary-foreground: #1a1a1a;
  --muted: #f0f0f0;
  --muted-foreground: #737373;
  --accent: #f0f0f0;
  --accent-foreground: #1a1a1a;
  --destructive: #e53e3e;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --font-geist-sans: "Geist", Helvetica, Arial, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-sidebar: #1a1a1a;
  --card: #0a0a0a;
  --card-foreground: #ededed;
  --primary: #ffffff;
  --primary-foreground: #1a1a1a;
  --secondary: #2d3748;
  --secondary-foreground: #ffffff;
  --muted: #2d3748;
  --muted-foreground: #a0aec0;
  --accent: #2d3748;
  --accent-foreground: #ffffff;
  --destructive: #9b2c2c;
  --destructive-foreground: #ffffff;
  --border: #2d3748;
  --input: #2d3748;
  --ring: #cbd5e0;
  --popover: #0a0a0a;
  --popover-foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background-sidebar: var(--background-sidebar);
}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  height: 100%;
}
