.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;

  & svg,
  & path {
    color: white !important;
  }
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
  line-height: 1.1em;
  text-align: center;
  color: white;
}

.loginButton {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: 0.375rem;
  font-size: 1.125rem;
  font-weight: 500;

  &:hover {
    background-color: color-mix(in srgb, var(--primary) 90%, black);
  }
}
