.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 960px;
}

.promptList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 2rem 0;
}

.newPromptSection {
  position: sticky;
  bottom: 3rem;
  margin-top: 3rem;
}
