.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 960px;
}

.promptList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 2rem 0;
}

.newPromptSection {
  position: sticky;
  bottom: 3rem;
  margin-top: 3rem;
}

.promptActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  & > :first-child {
    flex: none;
  }

  & > * {
    max-width: 160px;
  }

  & > :nth-child(2) {
    max-width: 200px;
  }
}
