.promptCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 540px;
  width: 100%;
  box-sizing: content-box;
  border: 1px solid var(--border);

  &.inputMode {
    height: auto;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
  }
}

.promptContent {
  height: 100%;
}

//
// Loading state
//
.loadingContainer {
  height: 100%;

  & .loadingText {
    text-align: center;
  }
}

//
// View state
//
.viewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;

  & .editButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    border-radius: 40px;
    font-size: 16px;
    padding: 6px 16px;
    background-color: #00000080;
    color: white;
    height: auto;
  }

  & .inputSection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;

    & .promptText {
      color: white;
      font-weight: 500;
    }

    & .inputMediaList {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      & .inputMediaItem {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid #808080;

        & .inputImage {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }

        & .inputVideo {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
  }

  &:hover {
    .editButton {
      opacity: 1;
    }

    & .inputSection {
      opacity: 1;
    }

    & .outputSection {
      // Add a gradient to the input section
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5)
        );
      }
    }
  }
}

//
// Input (and edit) state
//

.outputSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  background-color: black;

  & .outputImage {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
  }

  & .outputVideo {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
  }

  &.editMode {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    & .outputImage {
      filter: blur(1px);
    }

    & .outputVideo {
      filter: blur(1px);
    }
  }
}

//
// Empty input state
//

.promptContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;

  &.inputMode {
    width: 800px;
  }

  & textarea {
    border: none;
    box-shadow: none;
    resize: none;
    padding: 0;
    font-size: 16px;
    font-weight: 500;

    &::placeholder {
      color: var(--muted-foreground);
      font-weight: 400;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  & .cancelButton {
    position: absolute;
    height: auto;
    top: 1rem;
    right: 1rem;
    border-radius: 40px;
    font-size: 16px;
    padding: 6px 16px;
    background-color: #00000080;
    color: white;
  }

  & .inputForm {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
  }

  & .editForm {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    border-radius: 1rem 1rem 0 0;
  }
}

.promptControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  & .promptSettings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  & .promptActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  & .generateButton {
    border-radius: 40px;
  }

  & .deleteButton {
    color: var(--destructive-foreground);
    background-color: var(--destructive);

    &:hover {
      color: var(--destructive-foreground);
      background-color: var(--destructive-background);
    }
  }
}

.selectModel {
  width: 120px;
}

.formButtons {
  display: flex;
  gap: 0.5rem;
}

// --------------------------------

.mediaPreviewList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.mediaItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.previewMedia {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.tagInput {
  width: 150px;
}
