.sidebar {
  width: 240px;
  background-color: var(--background-sidebar);
  border-right: 1px solid var(--border);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .sidebarHeader {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  & .sidebarDivider {
    border-bottom: 1px solid var(--border);
  }

  & .sidebarNav {
    padding: 1rem;
  }

  & .sidebarList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }

  & .sidebarButton {
    width: 100%;
    justify-content: flex-start;
  }

  & .sidebarButton.active {
    background-color: var(--secondary-background);
  }

  & .sidebarFooter {
    padding: 1rem;
    margin-top: auto;
  }

  & .sidebarSelectTrigger {
    width: 100%;
    justify-content: space-between;
  }
}
