.dashboardContainer {
  display: flex;
  height: 100svh;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
