.container {
  width: 100%;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.chatGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.chatCard {
  position: relative;
  min-height: 240px;
  // max-width: calc(min(300px, 100%));

  // @media (max-width: 767px) {
  //   width: 100%;
  //   max-width: 100%;
  // }

  &:hover {
    cursor: pointer;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .chatDate {
      opacity: 1;
    }

    .promptCount {
      opacity: 1;
    }
  }
}

.chatDate {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.875rem;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.promptCount {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.875rem;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.mediaPreview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  border-radius: 12px;
  aspect-ratio: 16/9;
}

.previewImage,
.previewVideo {
  // flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noMedia {
  color: var(--muted-foreground);
  font-style: italic;
}

.loadingPreview {
  width: 100%;
  height: 100%;
  background-color: var(--muted);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: var(--muted);
  }
  50% {
    background-color: color-mix(in srgb, var(--muted) 80%, var(--background));
  }
  100% {
    background-color: var(--muted);
  }
}

.menuTrigger {
  // opacity: 0;
  // transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.chatCard:hover .menuTrigger,
.menuTrigger[data-state="open"] {
  // opacity: 1;
  visibility: visible;
}
