.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: none;
  background-color: var(--card);
  color: var(--card-foreground);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}

.cardDescription {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardFooter {
  display: flex;
  align-items: center;
  // padding: 1.5rem;
  // padding-top: 0;
}
