.textarea {
  display: flex;
  min-height: 60px;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--input);
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  resize: none;

  &::placeholder {
    color: var(--muted-foreground);
  }

  &:focus-visible {
    outline: none;
    border: 1px solid var(--ring);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    font-size: 0.875rem;
  }
}
