.toggleGroup {
  display: flex;
  flex-direction: row;
  gap: 2px;
  border: 1px solid var(--border);
  border-radius: 40px;
  padding: 2px;
  background-color: var(--background);
  overflow: hidden;
}

.toggleGroupItem {
  background-color: var(--background);
  border: none;
  border-radius: 40px;
  color: var(--foreground);
  height: 2.25rem;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  padding: 0 1rem;
  line-height: 1;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: var(--muted);
    border: none;
  }

  // &:first-child {
  // }

  // &:last-child {
  // }

  &[data-state="on"] {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  &:focus-visible {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 2px var(--ring);
    border: none;
  }
}
